<li>Question:{{#link-to 'question' question.id}}{{question.questionAttr}}{{/link-to}}
  <button {{action 'destroyQuestion' question}}>Delete</button>
  <ul>
    <li>Author:{{question.author}}</li>
  </ul>


</li>

<!-- {{update-question question=question updateQuestion="updateQuestion"}} -->


<!-- {{update-question question=question updateQuestion="updateQuestion" deleteQuestion="deleteQuestion"}} -->
